<!doctype html>
<html lang="en" ng-app="movieApp">
  <head>
    <meta charset="utf-8">
    <title>Nic Cage's Movie-O-Rama</title>
    <script src="components/js/angular/angular.min.js" type="text/javascript"></script>
    <script src="components/js/controllers.js" type="text/javascript"></script>
    <link rel="stylesheet" href="components/css/style.css">
  </head>
  <body class="default">
    <header class="header-outer">
      <div class="header-inner">
        <div class="header-img"></div>
      </div>
    </header>
    <section>
      <!-- intro text -->
       <article>
        <h2 class="heading-text">Experience some of your favorite movies, the way they were meant to be seen &mdash; <strong>Starring Nic</strong>!</h2>
        <ul class="teaser">
          <li class="teaser-item">Revel at Nic's interpretation of Batman...</li>
          <li class="teaser-item">Wonder at Nic's portrayal of Elsa...</li>
          <li class="teaser-item">Rejoice at Nic as Gandalf...</li>
          <li class="teaser-item">Plus many more...</li>
        </ul>
        <p></p>
      </article>
      <!-- end intro text -->
      
      <!-- movie list -->
      <article>
        <div ng-controller="ListController" class="movies-container">
        <h2 class="heading-text">The Movies</h2>
         <input class="search" placeholder="search for a movie" autofocus ng-model="search">
          <div ng-repeat="movie in movieList | filter: search | orderBy: 'year'" class="movie-wrap">
            <div class="movie-img"><img ng-src="components/images/{{ movie.image }}" alt="Poster for {{ movie.title }}"></div>
             <div class="movie-text">
              <strong>{{ movie.title }}</strong>: {{ movie.year }}<br/>
              <ul>
                <li ng-repeat="category in movie.categories">
                  {{ category }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </article>
      <!-- end movie list -->
    </section>
  </body>
</html>