// out: ../css/style.css, compress: true, strictMath: true

@import "reset.less";

.default{
  font: 14px "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: #eee;
  color:#444;
}

.header-outer{
  width:100%;
  height:200px;
  background: #363636;
  padding:5px 0 5px 0;
  margin-bottom:40px;
}

.header-inner{
  width:1170px;
  margin:0 auto;
  
}

.header-img{
  background: url(../images/logo.png) no-repeat top left;
  height:200px;
  width:600px;
  margin-right:20px;
}

.heading-text{
 font-size:18px;
  font-weight:400;
}

article{
  width:1170px;
  margin:0 auto;
}

.teaser{
 margin-top:10px; 
}

.teaser-item{
 margin-bottom:5px; 
}

.movies-container{
  margin-top:50px;
  border:1px solid #666;
  border-radius:5px;
  padding:15px;
  width:50%;
  background:#fff;
  margin-bottom:20px;
}

.search{
  width:300px;
  padding:10px;
  border-radius:5px;
  border:1px solid #666;
  margin:10px 0;
  background:#fce0cc;
  
  &:focus{
   outline:none; 
  }
}

.movie-wrap{
 padding:10px 0; 
}

.movie-img{
  display:inline-block;
  
  & img{
   height:200px;
    width:267px;
  }
}

.movie-text{
 display:inline-block; 
  vertical-align: top;
  margin-left:20px;
}